[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-extensions = "*"
faker = "*"
djoser = "*"
djangorestframework = "*"
drf-spectacular = "*"
djangorestframework-simplejwt = "*"
channels = "*"
channels-redis = "*"
daphne = "*"
pillow = "*"
pyjwt = "*"
django-cors-headers = "*"
python-dotenv = "*"
numpy = "==2.2.4"
psycopg2-binary = "==2.9.10"
scikit-learn = "==1.6.1"
opencv-python = "==4.11.0.86"
transformers = "==4.50.3"
opencv-python-headless = "==4.11.0.86"
torch = "==2.6.0"
sentence-transformers = "~=4.0.1"
python-dateutil = "*"
wheel = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]
django-shortcuts = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.13"
