[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-extensions = "*"
djangorestframework-simplejwt = "*"
faker = "*"
djoser = "*"
djangorestframework = "*"
drf-spectacular = "*"
pillow = "*"

[dev-packages]
django-shortcuts = "*"

[requires]
python_version = "3.13"
