[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-extensions = "*"
faker = "*"
djoser = "*"
djangorestframework = "*"
drf-spectacular = "*"
djangorestframework-simplejwt = "*"
channels = "*"
channels-redis = "*"
daphne = "*"
opencv-python = "*"
scikit-learn = "*"
sentence-transformers = "*"
opencv-python-headless = "*"
pillow = "*"
psycopg2-binary = "*"
pyjwt = "*"
django-cors-headers = "*"
python-dotenv = "*"
torch = "*"

[dev-packages]
django-shortcuts = "*"

[requires]
python_version = "3.13"
